<div id="fixer">
	<div class="headers">
		<h1><br>
			Click each issue below that matters the most to you.
		</h1>
	</div>
</div>
<div class="fixertoo">
	<div>
		<%= form_tag add_issues_path(current_user) do %>
			<% @issues.each do |issue| %>
				<div class="issuesIndex">
					<%= check_box_tag 'issue_ids[]', issue.id, issue.users.include?(current_user) %>
					<%= image_tag issue.avatar.url(:medium) %><br>
					<%= issue.name %><br>
					<%= issue.description %><br>
				</div>
			<% end %>
		</div>
			<div class="moved" id="udbutton">
				<br><%= submit_tag "Update" %>
			</div><br><br>
		<% end %>


	<div class="headers moved">
		<h3>
			Are we missing an important issue? 
			<%= link_to "Click here", new_issue_path %> to submit an issue to be added to our database.
		</h3>
	</div>
</div>