<div class="headers" id="fixer">
	<h1>
		<%= @user.profile.fname + "'s Photos" %>
	</h1>
</div>
<div class="fixertoo link">
	<h3>
		<%= link_to "Go to" + @user.profile.fname + "'s profile", user_profile_path(@user) %>
	</h3>
</div>
<div class="fixertoo">
	<% @user.photos.each do |photo| %>
		<%= link_to user_photo_path(@user, photo) do %>
			 <div class="issuesIndex">
			 	<%= image_tag photo.avatar.url(:medium) %><br>
				<%= photo.description %><br>

			 </div>
		<% end %>
	 <% end %>
 </div>

 