<%= form_for @photo, url: user_photos_path(current_user.id), action: :create, method: :post do |f| %>
	<div class="">
		<%= f.label :avatar, "Choose a photo that represents you." %><br>
		<%= f.file_field :avatar %>
	</div>
	<div class="">
		<%= f.label :description, "Give a brief description." %><br>
		<%= f.text_area :description %>
	</div>
	<div class="">
		<%= f.label :position, "Select the highlighted profile position for this image." %><br>
		<%= f.collection_select :position, Photo::TITLE, :to_s, :to_s, :prompt => "Please Select" %>
	</div>
	<div id="submit">
		<%= f.submit 'Submit' %>
	</div>
<% end %>