<%= form_for @post, url: user_posts_path(current_user.id), action: :create, method: :post do |f| %>
<div class="">
	<%= f.label :avatar, "Upload a photo if you like!" %><br>
	<%= f.file_field :avatar %>
</div>
<div class="">
	<%= f.label :title, "Title." %><br>
	<%= f.text_field :title %>
</div>
<div class="">
	<%= f.label :body, "Your post." %><br>
	<%= f.text_area :body %>
</div>



<%= f.label "Issues" %><br /> 
<% for issue in Issue.all %> 
	<%= check_box_tag 'issues[]', issue.id, current_user.issues.include?(issue.id), :id => dom_id(issue) %> 
	<%= label_tag dom_id(issue), issue.name, :class => "check_box_label" %> 
<% end %> 

<div id="submit">
	<%= f.submit 'Submit' %>
</div>
<% end %>