<h2>
	<% if current_user %>
	<%= current_user.profile.fname %>, what an awesome post!
	<% else %>
	Check out <%= @user.profile.fname %>'s awesome post!
	<% end %>
</h2>
	<%= image_tag @post.avatar.url(:medium) %><br>
	<%= @post.title %><br>
	<%= @post.body %><br>
	<%= link_to "See all" + current_user.profile.fname + "'s posts", user_posts_path %>