<nav class="nav menubar">
	<li>
		<%= link_to "Home", '/' %>
	</li>
	<li>
		<%= link_to "Learn More", learn_path %>
	</li>
	<li>
		<%= link_to "Why Ubuntu Nation", whyun_path %>
	</li>
	<li>
		<%= link_to "Build The Nation", build_path %>
	</li>
	<li>
		<%= link_to "Inspiration: Name and Images", inspiration_path %>
	</li>
</nav>