<!DOCTYPE html>
<html>
<head>
  <title>Buildunation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] or flash[:alert]%>
		<div id="flash">
		<%= flash[:notice] if flash[:notice] %> 
		<%= flash[:alert] if flash[:alert] %>
		</div>
	<% end %>

<%= render :partial => "layouts/nav" unless @skip_nav %>
<%= render :partial => "layouts/learn" if @skip_nav %>	

<img src="/images/flaghooded.jpg" id="logo">

<%= yield %>

</body>
</html>
